@media only screen and (min-width: 32.5em) {

header, footer, nav, main {
    display: flex;
}

nav {
    max-height: 1rem;
    padding: 2rem;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 auto;
}

nav ul li a {
    padding: 3rem;
}

main {
    margin-bottom: 200px;
}

h2 {
    font-size: 1.5rem;
}

p {
    max-width: 760px;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Noto Serif JP', serif;
}

footer {
    position: fixed;
    bottom: 0;
}

/* Target Audience Page */

.audience {
    font-size: 1.25rem;;
}

.scenarios {
    font-size: 1.25rem;
}

.personas p {
    font-size: 1.25rem;
    text-align: justify;
}

.personas img {
    width: 200px;
}

}