* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header, footer, nav {
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: center;
    margin: 0 auto;
    width: 100%;
}

header {
    color: #0a7496;
    font-family: 'Quattrocento', serif;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

nav {
	background-color: #4b4343;
}

nav ul {
	list-style-type: none;
    justify-items: center;
    padding: 0;
}

nav ul li a {
	display: block;
	color: lightgray;
    font-family: 'Cinzel', serif;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
    padding: 2rem;
}

main {
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: center;
    margin: 15px;
    margin: 0 auto;
}

h2 {
    color: #eb4510;
    font-family: 'Quattrocento', serif;
    text-align: center;
    font-size: 1.25rem;
}

p {
    margin: 15px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Noto Serif JP', serif;
}

img {
    padding: 1.5rem;
}

footer {
    background-color: #4b4343;
    color: lightgray;
    font-family: 'Comfortaa', cursive;
    display: flex;
    text-align: center;
    padding: 1.5rem;
}



/* Target Audience Page */

.scenarios {
    text-align: center;
    list-style-position: inside;
    font-size: .8rem;
    line-height: 2rem;
    font-family: 'Noto Serif JP', serif;
    margin: 2rem;
}

.personas {
    margin: 15px;
}

.personas p {
    text-align: justify;
    font-size: .8rem;
}

.personas img {
    width: 100px;
    float: left;
    padding: 0 10px 10px 0;
}

/* Design Page */

.colors {
    width: 100%;
    max-width: 760px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: lightgray;
    font-family: 'Quattrocento', serif;
  }
  .colors td{
    width: 20%;
    height: 3em;
    font-family: 'Noto Serif JP', serif;
  }
  .primary {
    background-color: #0D3B66;
    color: #D3D3D3;
  }
  .secondary {
    background-color: #4b4343;
    color: #D3D3D3;
  }
  .accent1 {
    background-color: #0a7496;
    color: #D3D3D3;
  }
  .accent2{
    background-color: #eb4510;
    color: #D3D3D3;
  }
  .accent3{
    background-color: #D3D3D3;
  }