:root {
    --yellow: #BC984E;
    --green: #879681;
    --darkgreen: #23645C;
    --black: #33312E;
    --neutral1: #C3C6BF;
    --neutral2: #ECE6D9;
    --greige: #f2f1ee;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral2);
}

header {
    background-color: var(--neutral1);
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 90px 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo {
    padding: 1.6vw 0 1.6vw 1.6vw;
    width: 80px;
    height: auto;
    max-width: 100%;
}

.title {
    grid-column: 2/4;
    align-self: center;
}

h1 {
    color: var(--black);
    font-family: "Fraunces", serif;
    font-size: 1.3rem;
    margin: 0;
}

#hamButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1.6rem 2vw;
    grid-column: 4;
    text-align: right;
    align-self: end;
    margin: 0 auto;
}

#hamButton::before {
    content: "\002630";
}

#hamButton.open::before {
    content: "x";
}


ul.menu li a {
    display: block;
    text-align: right;
    color: black;
    padding: .75rem 2vw;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

nav {
    background-color: var(--green);
    font-size: 1.5rem;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

ul.menu {
    display: block;
    list-style-type: none;
}

ul.menu a:hover {
    background-color: rgba(255,255,255, 0.2);
}

li.active a {
    background-color: rgba(0,0,0,0.1);
}

.hero {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    background-color: white;
    animation: fade 2s;
}

#container {
    text-align: center;
}

.join {
    width: auto;
    margin: 1rem;
    padding: 1.5rem;
    cursor: pointer;
    background-color: var(--darkgreen);
    box-shadow: 6px 6px 5px var(--neutral1);
    color: var(--greige);
    font-family: "Open Sans", san-serif;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    white-space: nowrap;
    justify-items: center;
}

main {
    background-color: var(--neutral2);
    display: block;
    margin:  0 auto 30px;
    width: 100%;
}

.card h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: var(--darkgreen);
    border-bottom: 1px solid var(--yellow);padding: 1.5rem;
}

.card p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.card p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.card {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--black);
    background-color: var(--greige);
}

#spotlight-box {
    border-bottom: 1px solid var(--black);
    display: block;
}

.spotlight {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    min-width: 250px;
    min-height: 250px;
    white-space: pre-line;
}

footer {
    background-color: var(--neutral1);
    color: var(--black);
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

footer div {
    padding: 1.5rem;
    display: block;
    text-align: center;
}

footer p {
    margin: .5rem;
    padding: .5rem;
}

.qc {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;font-weight: 500;
    border-bottom: 1px solid var(--green);
}

.info {
    border-bottom: 1px solid var(--green);
}

div.socialmedia img {
    width: 44px;
    height: auto;
    cursor: pointer;
}

div.socialmedia {
    margin: .5rem;
}

/******* Discovery Page Styling *******/

/* Sidebar */

#discoverPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 3rem auto;
}

section.discover {
    border: 1px solid var(--black);
    background-color: var(--greige);
    box-shadow: 0 0 10px var(--green);
    margin: .25rem;
}

section.discover h2 {
    padding: 2rem;
    border-bottom: 1px solid var(--black);
    font-size: 1.25rem;
    font-family: "Playfair Display", serif;
    background-color: var(--neutral1);
    letter-spacing: 2px;
}

section.discover p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

section.discover ul {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}


#sidebar {
    overflow: hidden;
}

#sidebar img {
    margin: .25rem;
    max-width: 100%;
}

#enjoy p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid var(--yellow);
}

#council p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--yellow);
}

#council p::before {
    content: "\01F464";
    padding-right: 1rem;
}

#places ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-align: left;
    padding: 1rem;
}

#places ul li::before {
    content: "\01F4CD";
    padding-right: 1rem;
}

#places ul li:nth-child(even) {
    background-color: var(--neutral2);
}

#temple {
    display: block;
    text-align: center;
}

#temple h2 {
    text-align: left;
}

#temple img {
    width: 50%;
    height: auto;
    margin: 1rem;
}

#temple p {
    font-family: "Fraunces", serif;
    font-size: 1rem;
    padding: 1rem;
}

#temple a {
    color: var(--black);
    text-decoration: none;
    font-family: "Fraunces", serif;
    font-size: 1.25rem;
    padding: 1rem;
}

#temple a:hover {
    color: var(--darkgreen);
    font-weight: 500;
}

#upcoming li {
    border-bottom: 1px solid var(--yellow);
    padding: 1rem 1vw;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

#upcoming li:first-child {
    border-top: 1px solid var(--yellow);
}

#upcoming .num {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

#upcoming .abbr {
    font-family: "Inter", sans-serif;
    font-size: .75rem;
    padding: 1rem;
}

#thanks p {
    padding: 2rem;
    border-bottom: 1px solid var(--yellow);
}

#thanks p::after {
    content: "   \01F44B";
}

main img {
    width: 100%;
    height: auto;
    padding: .5rem;
    background-color: whitesmoke;
    border: 1px solid var(--black);
    box-shadow: 0 0 10px var(--green);
    animation: fade 2s;
}

#picturebar figcaption {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: right;
    padding: 1rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Calendar Styling */

ul {
    list-style-type: none;
}

/* Month Header*/
.month {
    padding: 1rem;
    width: 100%;
    background-color: var(--darkgreen);
    text-align: center;
    color: whitesmoke;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (MTWThFSS) */

.weekdays {
    margin: 0;
    padding: .75rem 0;
    background-color: var(--black);
    text-align: start;
    display: flex;
}

.weekdays li {
    width: 14.3%;
    color: whitesmoke;
    text-align: center;
    flex-wrap: nowrap;
}

/* Days (1-31) */

.days {
    padding: .5rem 0;
    background-color: var(--greige);
    margin: 0;
    text-align: left;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    margin-bottom: 5px;
    font-size: .75rem;
    color: var(--black);
}

/* Highlight the current day */

.days li .active {
    padding: 5px;
    background-color: var(--darkgreen);
    color: white;
}

/******** Join Page Styling *******/

fieldset {
    border: 1px solid var(--yellow);
    margin: .5rem;
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
}
#form label, #membershipLabel {
    display: block;
    padding: 1rem;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="email"],
#form input[type="tel"] {
    background-color: var(--greige);
    display: block;
    border: solid 1px var(--green);
    box-shadow: 0 0 5px var(--neutral1);
    padding: .75em;
    color: var(--black);
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

#form input[type="radio"] {
    width: 50px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 8px;
}

#form input:required {
    border-left: 3px outset var(--black);
}

#form input:required:valid {
    border-left: 1px solid var(--green);
}

#form input[type="submit"] {
    border: none;
    background-color: var(--darkgreen);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

#membershipbar {
    grid-column: 3 / 5;
}

#membershipbar h2 {
    color: var(--black);
    border-top: 1px solid var(--greige);
    border-bottom: none;
    grid-column: 1 / 3;
    padding-bottom: 0;
}

#membershipbar p {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    grid-column: 1 / 2;
}

#membershipbar ul {
    padding: 1.5rem;
    list-style:none;
    grid-column: 2 / 3;
    text-wrap: pretty;
}

#membershipbar ul li:before {
    content: "\02714";
    color: var(--yellow);
}

#membershipbar .card {
    background-color: var(--neutral1);
    color: var(--black);
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/******* Thank You Page Styling *******/

#thankyou {
    padding: 2rem;
    display: block;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
}

/******* Directory Page Styling *******/

#gridView, #listView {
    margin: 1.5rem 1rem 0;
}

#directory {
    grid-column: 1 / 5;
    background-color: var(--neutral2);
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 1rem;
    text-align: center;
}

.grid {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 10px;
    margin: 0 1rem;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

#memberCard {
    border: 1px solid darkgrey;
    background-color: var(--greige);
    text-align: center;
}

#businessName {
    font-size: 1.5rem;
    color: #212f3c;
    text-align: center;
}

#businessLogo {
    width: 100%;
    height: auto;
    max-width: 140px;
    animation: fade 2s;
    border: none;
    margin-top: 1rem;
    box-shadow: none;
}

#memberCard {
    padding: 1.5rem;
}

/* List View */

#gridView, #listView {
    cursor: pointer;
}

.list {
    grid-column: 1 / 5;
}

.list #memberCard {
    display: block;
    padding: 1.5rem;
    align-items: center;
    justify-content: left;
}

.list #memberCard:nth-child(even) {
    background-color: var(--neutral1);
}

.list #businessName {
    text-align: left;
}

.list p {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.list img {
    display: none;
}