:root {
    --lightblue: #71a0b5;
    --textcolor: #33312E;
    --darkcoral: #C53500;
}

#form fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

#form legend {
    color: var(--textcolor);
    padding: 0 .5rem;
    font-size: 2rem;
    font-family: "Lustria", serif;
}

.recorded {
    color: var(--lightblue);
    padding: 1.5rem;
    font-size: 2rem;
}

#form label {
    display: block;
    padding: 1rem;
    color: var(--textcolor);
    font-size: 1.5rem;
    font-family: "Montserrat", sand-serif;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="email"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75em;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

#form input[type="range"] {
    display: block;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

#form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#95daf7, var(--lightblue));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    font-family: "Lustria", serif;
    font-size: 1.5rem;
}

#form input:required {
    border-left: solid 5px var(--darkcoral);
}

#form input:required:valid {
    border-left: solid 5px var(--lightblue);
}

#message {
    color: var(--darkcoral);
    padding: 0 1rem 0 1rem;
    font-size: 1.5rem;
    font-family: "Lustria", serif;
}

#currentValue {
    color: var(--textcolor);
    padding: 0 1rem 0 1rem;
    font-size: 2rem;
    font-family: "Lustria", serif;
}