body {
    background-color: lightgray;
    font-size: 18px;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 560px;
}

header {
    background-color: seagreen;
    color: white;
    text-align: center;
    padding: 1rem;
    box-shadow: 5px 10px 8px darkgray;
}

h1 {
    font-size: 30px;
    padding: 40px;
}

header img {
    float: left;
    padding: .5rem;
    margin-left: 20px;
    border: 1px solid darkgray;
}

h2, ul {
    border-bottom: 2px solid black;
}

ul {
    padding: 1.25rem;
}

footer {
    background-color: seagreen;
    color: white;
    text-align: center;
    padding: 1.25rem;
    box-shadow: 5px 10px 8px darkgray;
}

h3 {
    color: blanchedalmond;
    font-size: 1.25;
}