body {
    background-color: lightgray;
    font-size: 18px;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    background-color: seagreen;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

h1 {
    font-size: 1.5rem;
    padding: 1rem;
}

header img {
    padding: .5rem;
    margin-left: 20px;
    border: 1px solid darkgray;
}

h2, ul {
    border-bottom: 2px solid black;
    padding: 15px;
    margin: 15px;
}

ul li {
    padding: 15px;
}

h2 {
    font-size: 1.25rem;
    font-family: 'Nanum Myeongjo', serif;
}

ul {
    padding: 1.25rem;
    font-family: 'Nanum Myeongjo', serif;
}

footer {
    background-color: seagreen;
    color: white;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    padding: 1.25rem;
}

h3 {
    color: blanchedalmond;
    font-size: .75rem;
}